.page-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;              
  padding: 30px;
}


#canvas-holder {
  flex-shrink: 0;
  display: flex;
  flex-direction: column-reverse; /* Keeps canvas perfectly locked at 400x400 */
}


.text-holder {
  flex-grow: 1;
  font-family: sans-serif;
}