body {
    display: flex;
    flex-direction: column;
    background: #0F4C5C;
    background: linear-gradient(90deg,rgba(15, 76, 92, 1) 0%, rgba(154, 3, 30, 1) 50%, rgba(95, 15, 64, 1) 100%);
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: #E0FFFF;
    background-color: #9A031E;
    border-radius: 15px;
    align-items: center;
    padding: 10px;
    font-family: OCR A Std, monospace;
    font-size: 33px;
    padding-left: 7%;
    border: rgb(85, 0, 28) solid 5px; 
    height: 75px;
}

.header a {
    color: #E0FFFF;
    text-decoration: none;
}

.header img{
    width: 50px;
    height: 50px;
}

.headerbuttons {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-family: American Typewriter, sans-serif;
    font-size: 17px;  
    text-align: center;
    align-items: center;

}

.header a, .header img {
    transition: transform 0.2s ease, box-shadow 0.2s ease, text-shadow 0.2s ease, drop-shadow 0.2s ease;
}

.header a {
    display: inline-block;
}

.header a:not(:has(img)):hover, .header a:not(:has(img)):hover::after {
    display: inline;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    transform: translateY(-3px);
    text-transform: uppercase;
    content: "!!!";
}

.header img:hover{
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.4));
    transform: translateY(-3px);
}

.page-layout {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#canvas-holder {
    position: relative;
    display: inline-block;
    background-color: #E36414;
    padding: 20px;
    border-radius: 15px;
    border: rgb(85, 0, 28) solid 7px;
}

#canvas-holder canvas {
    display: block;
    width: 500px;
    height: 500px;
}
